/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@100;300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    color:#24272b;
    background-color: #f1f3f5;
}


.container {
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 7%;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #B5CB99;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background-color: transparent;
    border: none;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content {
    max-width: 100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
}

small {
    font-family: 'Raleway';
    font-size: 1.4rem;
}

p{
    font-family: 'Poppins';
    text-align: justify;
    font-size: 14px;
    margin-top: 3rem;
}

.img-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    max-width: inherit;
    margin-top: 3rem;
    gap: 1rem;
}

.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5 {
    width: 100%;
    object-fit:cover;
    min-height: 100%;
}

.grid-item1, .grid-item2, .grid-item5 {
    grid-column-start: 1;
    grid-column-end: -1;
}